@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Pacifico', cursive; */
/* font-family: 'PT Sans Narrow', sans-serif; */
/* font-family: 'Lobster', cursive; */
body{
    margin: 0;
    padding: 0;
    /* background-color: papayawhip; */
}
#img1{
    width:210px;
    position: relative;
    top: 10px;
    margin-left: 22px;
    transform: rotate(6deg);
}

.for{
    display: block;
    float: right !important;
    margin-right: 30px !important;
color:rgb(101, 140, 143);

}
.top{
    width:250px !important;
    height: 85px;

    background-color: white;
    /* border-radius:  0% 0% 100% 0%; */
    background: linear-gradient(-45deg ,transparent 75px , white 0 ) bottom left;

}
.nev1{
    width: 88%;
    height: 85px;
    background-color: white !important;
    /* background-color: aqua !important; */
    float: right !important;

}
.topnav{
    width: 88%!important;
    height: 85px;
    /* background-color: #B5e5be ; */
    float: right !important;
    margin-right: -12px !important;
    position: relative !important;
    z-index: 99999 !important;
        background: linear-gradient(58deg ,transparent 55px , #49919161 0) ;
}
.boxshad{
   
    width: 100% !important;
height: 85px !important;
display: flex !important;
flex-wrap: nowrap !important;
box-shadow:  6px 2px 12px #49919161 !important ;

}
.bttnmn{
    float: right !important;
    text-align: right !important;
    margin: auto;
}
.bttn{
    width: 100px;
    height: 40px;
    outline: none;
    border: none !important;
    background-color: #49919100 ;

    /* background-color:   rgb(106, 146, 149) !important; */
    /* margin-left: 0px; */
    position: relative;
    top: -10px;
    color: white !important;
    border-radius: 20px 20px 0px 0px;
    font-size: 14px;
    margin-left: 1px;
    /* margin-right: 10px; */
}
.bttn:hover{
    
    background-color: #49919100 !important;

}
.bttncol{
    color: #4991912c  !important;


    }
.drepmain{
    width: 200px;
    height: 330px;
background-color: #b6d7d7  !important;
    outline: none;
    border: none;
    margin-top: -5px;
    margin-left: -40px;
display: none;
}
.drep{
    height: 35px;
    color: #1e3839 !important;
text-align: center;

font-size: 14px;
}
/* .dropimg{
    width: 180px;
    height: 180px;
    
} */
.inneropt{
    width: 170px;
    height: 60px;
background-color: #b6d7d7 !important;
outline: none;
border: none;
margin-top: 5px;
float: right;
margin-right: -170px;
text-decoration: none;
margin-top: -60px;
position: relative;
top: 23px;
color:rgb(71, 70, 21) !important;

border-radius: 5px;
display: none;
}
.opt1{
    width: 170px;
    height: 29px;
    color: rgb(29, 64, 66)   ;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    text-align:  center;
    position: relative;
    left: -32px;
border-radius: 5px;

}
.opt2{
    width: 200px;
    height: 29px;
    color: rgb(29, 64, 66)  ;
text-align: left;
font-size: 14px;
text-decoration: none;
list-style: none;
text-align: left;
margin-left: 10px;
/* position: relative;
left: -20px; */
}
.arrow1{
    font-size: 15px;
    color: gray;
    float: right;
    display: none;
    margin-top: 5px;
}
.drep:hover{
background-color: #92c5c5 !important;
border-bottom: 0.5px solid #92c5c5;
    
}
.drep:hover .arrow1{
        display: block;
    }
    .inneropt:hover{
        border-bottom: 0.5px solid rgb(228, 246, 156) ;
        
            }
    .opt1:hover{
background-color:#92c5c5 !important;
border-bottom: 0.5px solid  #92c5c5;

    }
#drep2:hover .inneropt{
display: block !important;

}
.drepmain2{
    width: 170px;
    height: 110px;
     list-style: none;
     text-decoration: none;
border-radius: 10px !important;
background-color: #b6d7d7 !important;
display: none;
margin-top: 20px;
     margin-left: -40px;
}
.dreps{
    width: 170px ;
    height: 30px;
background-color: #b6d7d7 !important;

    color: rgb(47, 79, 81) !important;
    position: relative;
    left: -32px;
    top: 10px;
    text-transform: capitalize;
}
.dreps2{
    position: relative;
   top: 5px !important;
    color: rgb(47, 79, 81) !important;
    text-align: left;
    text-transform: capitalize;
}
.dreps:hover{

background-color: #92c5c5 !important;
    
}
#gal:hover .drepmain2 {
    display: block !important;
}
a{
    text-decoration: none;
}
    .about-icon {
        position: relative;
        top: -3px !important;
        color:#357d8a   !important;

        margin-left: 1px;
    font-size: 17px;
    }
    .home-icon {
        position: relative;
        top: -3px !important;
        color:#357d8a   !important;


        font-size: 16px;
    
    }
    .clothing-icon {
        position: relative;
        top: -3px !important;
        color:#357d8a   !important;

        font-size: 16px;

    }
    
    .contact-icon {
        position: relative;
        top: -3px !important;
        color:#357d8a   !important;

        font-size: 17px;
    
    }
    .gallery-icon{
        /* top: -3px !important; */
        color:#357d8a   !important;

        font-size: 20px !important;
        position: relative;
        left: -25px !important;
        top: 0px !important;
    
    }
    #home{
        color:rgb(70, 91, 86)  !important;
        display: none;
        
    }
    #about{
        color:rgb(70, 91, 86)  !important;
        display: none;

    }
    #contact{
        color:rgb(70, 91, 86)  !important;
        display: none;

    }
    #clothing{
        color:rgb(70, 91, 86)  !important;
        display: none;
    }
    #gallery{
        color:rgb(70, 91, 86)  !important;
        display: none;
        position: relative;
        top: 9px !important;
    }
    #cloth:hover .drepmain{
        display: block !important;
        /* position: relative;
        left: -3px;
        top: 4px;
     */
        }


.for2{
    width: 200px;
    height: 30px;
    color: white !important;
    float: right !important;
    justify-content: end;
margin-top: 6px !important;
border-radius: 20px !important;
background-color: rgba(76, 114, 114, 0.055) !important;
display: none ;
margin-top: 10px !important;
margin-left: -100px !important;
outline: none !important;
border: none !important;
} 

.for3{ 
    width: 110px !important; ;
    height: 30px !important;
font-size: 15px !important;
margin-left: 20px !important;
margin-top: 6px !important;
margin-right: -35px !important;
border: 1px solid rgba(101, 140, 143, 0);
color: rgb(51, 82, 77);
border-radius: 40px !important;
border: none;
outline: none;
font-size: 18px !important;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;
background-color:rgba(106, 146, 149, 0) !important;
}
.for2:focus {
    outline: 0.2px solid rgb(67, 95, 90) !important ;
border: 0.2px solid rgb(204,224,220) !important;
color: rgb(67, 95, 90) !important;
    background-color:rgba(106, 146, 149, 0);
box-shadow: none ;
}
.for3:focus{
    color: rgb(67, 95, 90) !important;
    background-color:rgba(106, 146, 149, 0) !important;

    }
.for3:hover{
    background-color:rgba(106, 146, 149, 0) !important;

    color: rgb(67,95,90);
border: none;
outline: none;
}

.insta-icon{
    font-size: 17px;
    
    color:#357d8a   !important;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.facebook-icon{
    font-size: 17px;
    
    color:#357d8a   !important;

    float: right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.whatsapp-icon{
    font-size: 17px;
    
    color:#357d8a   !important;

    float: right;
    margin-left: 2px;
    /* margin-right:16px; */
    margin-top: 2px;
}
.iconbttn{
    border: none;
    outline: none;
    height: 25px;
    background-color:rgba(106, 146, 149, 0) !important;
    margin-right: 1px;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 9999;
}
.iconbttn:hover{
    background-color:rgba(106, 146, 149, 0) !important;

}


#parall{
    width: 100%;
    min-height: 450px;
    background-color: black;
    overflow: hidden;
    opacity: 1;
    z-index: 99999;
}

.parallaxx{
    width: 100% !important;
    min-height: 450px !important;
   
    /* overflow: hidden !important; */
    z-index: 9999; 
}
.slidimg{
    width: 100% !important;
    min-height: 450px !important;
   
}

/* .slid{
position: relative;
z-index: -9999;
} */

.mainhd{
    width: 270px !important;
    height: 40px !important;
    /* background-color: white !important; */
    text-align: center !important;
   background-color: white;
/* font-family: 'Pacifico', cursive; */
font-family: 'PT Sans Narrow', sans-serif;
/* font-family: 'Lobster', cursive; */
letter-spacing: 11px;
 position: relative;
top: 10px !important;
margin-left: 41% !important; 

}
.heading1{
    font-size: 48px;
   text-align: center !important;

}
.maincar{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 0px !important;
    padding-top:60px ;
}
.maincar{
    width: 100% !important;
    /* height: 1100px !important; */
    border-top: 1.8px solid #66979c !important;
    /* margin-left: 70px !important;
    /* margin-left: 70px !important;
    margin-right: 30px !important; */

}

/* .maincar{
    width: 100% !important;
    height: 550px !important;

    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: 90px !important;
    margin-bottom: 40px !important;
    justify-content: space-evenly;
    border-top: 2px solid rgb(82, 110, 111) !important;
    border-bottom: 2px solid rgb(82, 110, 111) !important;

} */
.boxtext3{
    width: 360px;
    height: 40px;
    font-size: 32px; 
    color: black;
     font-weight: 200;
      text-align: center;
      margin: 0;
      position: relative;
      top:105px;
      margin-left: 530px;
      background-color: white;
         word-spacing: 7px; 
         z-index: 9999 !important;
         text-transform: capitalize;
     font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 87, 81);
    display:inline-block ;
}
#car{
    width: 260px !important;
    height: 335px !important;
    position: relative;
    z-index: 1;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 1px 8px gray;
    margin: 30px;
    position: relative;
    top: -40px;
}
.carimg{
    width: 240px !important;
    height: 225px !important;
    position: relative;
    z-index: -1;
    
    opacity: 0.9.3;
    outline: none;
    border: none;
    border-radius: 3px !important;
    margin-top: 32px !important;
    margin-left: 21px !important;
    margin-right: 7px !important;
    margin-bottom: 7px !important;
}
.cartext{
    text-align: center !important;
    /* background-color: rgb(228, 228, 228) !important; */
    border-radius: 2px 2px 7px 7px !important;
margin-top: 10px !important;

}
#car:hover{
    transform: scale(1.1) !important;
    animation-name:carimg1  !important;
    animation-duration: 20s !important;
    animation-iteration-count: 1 !important;
    animation-delay: 0.s !important;
}


.bttnhov{
    width: 50px !important;
    height: 47px !important;
    border-radius: 25px  !important;
    background-color: white !important;
    margin-left: 30px !important;
    margin-top: 12px !important;
    position: relative;
    top: -10px !important;
    /* display: none !important; */
    opacity: 2 !important;
}

/* #car:hover{
opacity: 0.6 !important;
background: linear-gradient(white , rgb(106,149,146));
} */
/* #car:hover .bttnhov {
    display: block !important;
    opacity: 2 !important;
    background-color:white !important;
    } */
    /* #car:hover #text {
        display: none !important;
        
        } */
.heart{
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.851) ;
}

a{
    text-decoration: none !important;
}

.box2{
    width: 100% !important;
    height: 50px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: -0px !important;

}
.hd2{
    color:rgb(72, 104, 105);
    /* margin-left: 10px; */
    border-right: 2px solid gray;
text-transform: capitalize;
    font-size: 11px !important;
    display: inline-block;
    font-family: 'PT Sans Narrow', sans-serif; 
letter-spacing: 2px;
    
}
.hd3{
    color:rgb(64, 102, 103);
    /* margin-left: 70px; */
text-transform: capitalize;
    font-size: 23px;
    display: inline-block;
    position: relative;
    top: -15px !important;
    font-family:  'Times New Roman', Times, serif; 
letter-spacing: 2px;
}

/* ============================footer======================= */
.footer1{
    width: 100%;
    height: 340px;
    background-color: rgb(106, 146, 149);
    /* border-radius: 10px 10px 0px 0px; */
    display: flex;
    flex-wrap: wrap;
    
    }
    .footer2{
        width:700px;
        height: 150px;
        font-family: 'Times New Roman', Times, serif;
    background-color: rgb(106, 146, 149);
    margin-left: 40px;
    margin-top: 60px;
    text-align: left;
    font-weight: 500;
    color: black;
    font-size: 18px;
    }
    .footercontent li{
        list-style: none;
        font-size:18px;
        text-transform: capitalize;
        margin-top: 10px;
        margin-left: 60px;
    text-align: left;
    font-weight: 490;

    }
    .hd2{
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 60px;
        color: rgb(27, 59, 60);
    
    }
    .end{
        color: rgb(62, 99, 100) !important;
        font-size: 20px !important;
        letter-spacing: 50px !important;
        text-align: center !important;
        margin-top: 90px !important;
    }
    a{
        text-decoration: none !important;
        color: rgb(37, 55, 56);
    }
    a:hover{
        text-decoration: none !important;
        color: rgb(37, 55, 56);
    }
    /* =========================modal start=================================== */
       .image2{
        width: 100% !important;
        height:520px !important ;
        /* margin-left: 90px !important;
        margin-top: 30px !important; */
        background-image: url(../img/tie2.webp) !important;
        background-size: 100% 100% !important;
        display: inline-block !important;
       }
       .image3{
        width: 100% !important;
        height:520px !important ;
        /* margin-left: 90px !important;
        margin-top: 30px !important; */
        background-image: url(../img/tie3.jpg) !important;
        background-size: 100% 100% !important;
        display: inline-block !important;
       }
    .container1{
        display: grid !important;
        grid-template-columns: 340px 600px !important;
      
    }
    .image{
        width: 100% !important;
        height:520px !important ;
        /* margin-left: 90px !important;
        margin-top: 30px !important; */
        background-image: url(../img/tie1.jpg) !important;
        background-size: 100% 100% !important;
        display: inline-block !important;
    }
    .image:hover{
        cursor: pointer !important;
        width: 42% !important;
        height: 525px !important;
        margin-left: -10px !important;
    }
    
    
    .container2{
        width: 50% !important;
        display: grid !important;
        grid-template-rows: 80px 50px 70px 30px 60px 50px  60px!important;
        grid-template-columns: auto !important;
    }
    
    .hd1box{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 10px;
    }
    .hd1{
        font-size: 28px;
        color: #1e3839;
        letter-spacing: 2px !important;
font-family: 'PT Sans Narrow', sans-serif;
text-transform: capitalize;
    }
    .heading1{
color: #3f7073!important;

    }
    .rating{
        color: rgb(215, 165, 74);
    }
    
    .box1{
        /* margin-left: 20px;
        margin-right: 20px; */
        display: grid !important;
        grid-template-columns: 120px 80px 180px;
        grid-template-rows: 20px !important;
        /* margin-top: -30px !; */
    }
    .text1{
        height: 20px !important;
        border-right: 2px solid gray;
        text-transform: capitalize;
            font-size: 15px;
            font-family: 'PT Sans Narrow', sans-serif; 
        letter-spacing: 2px;
    }
    .text2{
        height: 10px !important;
        text-transform: capitalize;
            font-size: 15px;
            font-family: 'PT Sans Narrow', sans-serif; 
        letter-spacing: 2px;
        width: 90% !important;

        margin-left: 18px !important;
    }
    .box2{
        display: grid !important;
        grid-template-columns: 120px 110px ;
        grid-template-rows: 20px !important;
        /* margin-left: 20px !important;
        margin-right: 20px !important;
     */
    }
    .text3{
        width: 200px;
        color:rgb(64, 102, 103);
        /* margin-left: 70px; */
    text-transform: capitalize;
        font-size: 39px;
        font-family: 'PT Sans Narrow', sans-serif; 
    letter-spacing: 2px;
    }
    .text4{
        font-size: 18px;
        text-transform: capitalize;
        margin-top: 15px;
        color: rgb(71, 108, 109);
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 2px;
        margin-left: 10px;
    }
    .box3{
        display: grid !important;
        grid-template-columns: 120px ;
        grid-template-rows: 20px !important;
        /* margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: -80px !important; */
    
    
    }
    .text5{
        font-size: 18px;
        text-transform: capitalize;
        /* margin-top: 30px; */
        color: rgb(71, 108, 109);
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 2px;
        display: inline-block;
        /* margin-left: 70px; */
    }
    .box4{
        display: grid !important;
        grid-template-columns: 25px 130px 25px  ;
        grid-template-rows: 30px !important;
        /* margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: -90px !important; */
    
    }
    .box5{
        display: grid !important;
        grid-template-columns: 180px 70px  ;
        grid-template-rows: 30px !important;
        /* margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: -90px !important; */
    
    }
    .text6{
        text-transform: capitalize;
        color: rgb(71, 108, 109);
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 2px;
        font-size: 18px !important;
    }
    .box6{
        display: grid !important;
        grid-template-columns: 120px 110px  ;
        grid-template-rows: 20px !important;
        column-gap: 90px !important;
        /* margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: -90px !important; */
    
    }
    
    .quantity{
        /* margin-top: 4px; */
        text-align: center;
        outline: none;
        border: 0.1px solid gray;
        border-radius: 4px;
        height: 29.5px;
        width: 131px;
        font-family: 'PT Sans Narrow', sans-serif !important; 
    letter-spacing: 4px !important;
    }
    .bttnminus{
        background-color: rgb(166, 184, 185);
        outline: none;
        border: none;
        height: 30px;
        width: 27px;
        border-radius: 3px 3px 3px 3px;
        /* margin-left: 50px;
        margin-right: 0px; */
        /* position: relative;
        left: 33px; */
        cursor: not-allowed;
    }
    .bttnplus{
        background-color: rgb(166, 184, 185);
        outline: none;
        border: none;
        height: 30px;
        width: 27px;
        border-radius: 3px 3px 3px 3px;
        /* margin-right: 1px;
        position: relative;
        left: -32px; */
        cursor: not-allowed;
    
    }
    .quantity:focus{
        outline: none;
        border: 0.5px solid gray;
        border-radius: 4px;
        height: 29.5px;
        width: 131px;
    
    }
    #price{
    margin-left: 10px !important;
    }
     #modal1{
        width: 1000px !important;
    }
    .bttn1{
        width: 180px !important;
        height: 40px !important;
        background-color: rgb(68, 98, 99) !important;
        outline: none;
        border: none;
        color: white !important;
        font-family: 'PT Sans Narrow', sans-serif !important;
        letter-spacing: 2px !important;
        border-radius: 4px !important;
        margin-left: 10px !important;
    }
    .bttn2{
        width: 180px !important;
        height: 40px !important;
        background-color: rgb(68, 98, 99) !important;
        color: white !important;
        font-family: 'PT Sans Narrow', sans-serif !important;
        letter-spacing: 2px !important;
        outline: none;
    border: none;
    border-radius: 4px !important;
    }
    /* =========================modal end=================================== */
    /* ==============================login start================ */

    .box{
        width: 80% !important;
        height: 570px !important;
       background-color: rgba(171, 205, 197, 0.842) !important;
    }
    .subbttn{
        width: 450px !important;
        height: 40px !important;
        background-color: rgb(106, 146, 149) !important;
        outline: none !important;
        border: none !important;
        border-radius: 3px !important;
        color: white !important;
        letter-spacing: 1px !important;
        font-weight: 500 !important;
        font-size: 18px !important;
        margin-top: -340px !important;
    }
    .subbttn1{
        width: 140% !important;
        height: 40px !important;
        background-color: rgb(106, 146, 149) !important;
        outline: none !important;
        border: none !important;
        border-radius: 3px !important;
        color: white !important;
        letter-spacing: 3px !important;
        font-weight: 500 !important;
        font-size: 18px !important;
        text-transform: capitalize !important;
    font-family: 'PT Sans Narrow', sans-serif !important; 
    
    }
    .inp{
        width: 100% !important;
        height: 33px !important;
        outline: none!important;
        border: none!important;
        border-bottom: 1px solid rgb(51, 82, 77) !important;
        border-radius: 1px;
        margin-left: 20px !important;
        
        background-color: rgba(171, 205, 197, 0) !important;
    }
    .inp:focus{
        box-shadow: 0px !important;
        outline: none;
        border: none !important;
        border-bottom: 1px solid rgb(51, 82, 77) !important;
    
    }
    form{
    }
    
    
    
    
    
    
    
    
    
    /* ====================================registration======================== */
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;
        overflow: visible !important;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }
        .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;
        overflow: visible !important;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }
    
    /* ==============================login end================ */

    /* =====================footer============================= */
.footer1{
    width: 100%;
    height: 340px;
    background-color: rgb(106, 146, 149);
    /* border-radius: 10px 10px 0px 0px; */
    display: flex;
    flex-wrap: wrap;
    
    }
    .footer2{
        width:700px;
        height: 150px;
        font-family: 'Times New Roman', Times, serif;
    background-color: rgb(106, 146, 149);
    margin-left: 40px;
    margin-top: 60px;
    text-align: left;
    font-weight: 500;
    color: black;
    font-size: 18px;
    }
    .footercontent li{
        list-style: none;
        font-size:18px;
        text-transform: capitalize;
        margin-top: 10px;
        margin-left: 60px;
    text-align: left;
    font-weight: 490;
    }
    .hd2{
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 60px;
        color: rgb(27, 59, 60);
    
    }
    
    .footer3{
        width: 300px;
        height: 200px;
    background-color:rgb(106, 146, 149);
    margin-left: 20px;
    margin-top: 80px;
    color: black;
    text-decoration: underline;
    
    }
    .copy{
       width: 100% !important;
        background-color: rgb(106, 146, 149);
    }
   
.footer1{
width: 100%;
height: 340px;
background-color: rgb(106, 146, 149);
/* border-radius: 10px 10px 0px 0px; */
display: flex;


}
.footer2{
    width:700px;
    height: 180px !important;
    font-family: 'Times New Roman', Times, serif;
background-color: rgb(106, 146, 149);
margin-left: 40px;
margin-top: 60px;
text-align: left;
font-weight: 500;
color: black;
border-right: 3px solid #357d8a;
font-size: 18px;
}
iframe{
    width: 100% !important;
    height: 200px !important;
}
.footercontent li{
    list-style: none;
    font-size:18px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 60px;
text-align: left;
font-weight: 490;
}
.hd2{
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 60px;
    color: rgb(27, 59, 60);

}

.footer3{
    width: 300px;
    height: 200px;
background-color:#49919100 ;
margin-left: -100px !important;
margin-top: 40px;
display: none !important;

}
.footer4{
    width: 600px !important;
    height: 250px !important;
    margin-top: 35px;
    position: relative;
    top: 20px !important;
    margin-left: 60px;
background-color:#49919100 ;

    }
.copy{
    background-color: #49919100 !important ;
    border-top: 1px solid rgb(83, 137, 139);
}
.copy{
width: 100% !important;

}
    
    @media (max-width:1225px){
        .topnav{
            width: 100%;
        }
        .facebook-icon,.whatsapp-icon,.insta-icon{
            display: none;}
            .iconbttn{
                display: none;
            }
            .for3{
                margin-left: -100px !important;
                    }
                    .boxs1{
        display: none;
        
                    }
                    
                    .box{
                        display: block;
                        width: 60%;
                    }
                    
                    .para1{
                        display: block;
                        text-align: center;
                    }
                    .footer4{
                        width: 120% !important;
                        height: 200px !important;
                       }
                       
        }
        @media (max-width:1080px){
            .for3{
        display: none;
            }
            .topnav{
                width: 100%;
            }
            .footer4{
                width: 120% !important;
                height: 200px !important;
               }
               .footer3{
                width: 120% !important;
                margin-left: 0px !important;
               }
        }
        @media (max-width:1061px){
    .footer4{
margin-top: -20px !important;
    }
    .footer4{
        margin-top: -20px !important;
            }
        }
        @media (max-width:1021px){
            .footer3{
                width: 100% !important;
                margin-left: 0px;
            }
                }
        @media (max-width:991px){
            .topnav{
                width: 100%;
    
            }
            #line1,#line2{
                display: none;
        
            }
            .navbar-toggler{
                text-align: right;
                margin-left: auto;
                float: right !important;
                justify-content: right;
                justify-items: right;
        margin-top: -70px;
        background-color: rgb(111, 147, 150);
        border: 2px solid rgb(109, 145, 148);
        color:rgb(63, 95, 97) ;
            }
            .nev1{
                margin-top: 50px;
            }
        
        .topnav{
            width: 40% !important;
        /* margin-left: auto; */
        margin-top: 5px;
        background-color: rgb(111, 147, 150) ;
        background: linear-gradient(none);
        background: linear-gradient(45deg, transparent 0px , rgb(111, 147, 150) 0px);
        /* justify-content: right; */
        /* justify-items: right; */
        /* float: right;  */
        position:relative  !important;
    top: 10px !important;
    
        right: 90px;
        margin-left: 60% !important;
        }
        .bttn{
            border-radius: 0px 0px 0px 0px !important;
            position: relative !important;
            right: 120px !important;
        }
        .search1{
            display: none;
        }
        .for,.for2,.for3{
            display: none;
        }
        .background{
            width: 100%;
            height: 450px;
        }
        .parallaxx{
        width: 100% !important;
        min-height: 450px !important;
        background-color:rgb(0, 0, 0) !important ;
        opacity: 0.6 !important;
        overflow: visible !important;
        z-index: 9999 !important;
        }
        .iconbttn{
        display: none;
        }
        .drepmain{
    position: relative;
    margin-left: 80px;
        }
        .inneropt{
            position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
        .boxs1{
        display: none;
        
        }
        .box{
            display: block;
            width: 60%;
        }
        
        .para1{
            display: block;
            text-align: center;
        }
        .footer4{
            width: 120% !important;
            height: 200px !important;
           }
           .iframe{
            width: 100% !important;
margin-top: -20px !important;
           }
        }
        @media (max-width:833px){
            
            #line1,#line2{
                display: none;
            }
            .navbar-toggler{
        margin-left: auto;
        margin-top: -130px;
                /* margin-left: 700px        ;
                margin-top: -40px; */
                /* justify-content: right;
        justify-items: right;
        float: right; */
                background-color: rgb(111, 147, 150);
                border: 2px solid rgb(109, 145, 148);
                color:rgb(63, 95, 97) ;
                    }
                    .nev1{ 
                        
                        /* margin-top: -2px; */
        
                    }
                    .topnav{
                        /* margin-left: auto; */
                        width: 50% !important;
        /* margin-left: 750px; */
        /* height: 200px;  */
        /* justify-content: right;
        justify-items: right;
        float: right; */
        margin-top: -25px;
                        background-color: rgb(111, 147, 150) ;
         background: linear-gradient(none);
         background: linear-gradient(45deg, transparent 0px , rgb(111, 147, 150) 0px);
        position: relative !important;
        right: 20px !important;
        margin-left: 290px !important;
                    }
                    .drepmain{
    position: relative;
    
    margin-left: 120px;
        }
        .inneropt{
            position: relative;
    left: -170px;
    top: 50px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
                    .bttn{
                        width: 200px;
                        font-size: 17px;
                        border-radius: 0px 0px 0px 0px;
                        position: relative !important;
                        right: 50% !important;
                    }
                    .for,.for2,.for3{
                        display: none;
                    }
                    .background{
                        width: 100%;
                        height: 300px;
                    }
                    .parallaxx{
            width: 100% !important;
            min-height: 300px !important;
            background-color:rgb(0, 0, 0) !important ;
            opacity: 0.6 !important;
            overflow: visible !important;
            z-index: 9999 !important;
        }
        .iconbttn{
            display: none;
        }
        
        .boxs1{
        display: none;
        
        }
        .box{
            display: block;
            width: 60%;
        }
       
        .para1{
            display: block;
            text-align: center;
            margin-top: -80px;
            position: relative;
            top: -80px;
        
        }
        .footer4{
            width: 120% !important;
            height: 200px !important;
           }
           .iframe{
            width: 100% !important;
margin-top: -20px !important;
           }
        }
        @media (max-width:700px)
        {
            .topnav{
                width: 100px !important;
                position: relative;
                right: 40px !important;
                margin-left: 230px !important;
            }
            .bttn{
                 position: relative !important;
                right: 35% !important;
    
            }
            .drepmain{
                width: 10px !important;
    position: relative;
    margin-left: 110px;
        }
        .opt1{
            width: 100px !important;
    
        }
        .inneropt{
            width: 100px !important;
            position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
        .footer4{
            width: 120% !important;
            height: 200px !important;
           }
           .iframe{
            width: 100% !important;
margin-top: -20px !important;
           }
        
    }
    
    @media (max-width:600px){
        .topnav{
            width: 100px !important;
            position: relative;
            right: 20px !important;
            margin-left: 180px !important;
        }
        .bttn{
             position: relative !important;
            right: 25% !important;
    
        }
        .drepmain{
            width: 10px !important;
    position: relative;
    margin-left: 110px;
    }
    .opt1{
        width: 100px !important;
    
    }
    .inneropt{
        width: 100px !important;
        position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
    }
    .inneropt:hover{
        background-color: rgb(231, 252, 247) !important;
    
    }
    .footer4{
        width: 120% !important;
        height: 200px !important;
       }
       .iframe{
        width: 100% !important;
margin-top: -20px !important;
       }
    }
    @media (max-width:645px){
        .topnav{
            width: 100px !important;
            position: relative;
            right: 40px !important;
            margin-left: 170px !important;
        }
        .bttn{
             position: relative !important;
            right: 15% !important;
    
        }
        .drepmain{
            width: 10px !important;
    position: relative;
    margin-left: 110px;
    }
    .opt1{
        width: 100px !important;
    
    }
    .inneropt{
        width: 100px !important;
        position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
    }
    .inneropt:hover{
        background-color: rgb(231, 252, 247) !important;
    
    }
    .footer1{
        display: flex !important;
        flex-wrap: wrap !important;
            }
            .footer3{
                width:700px !important;
                position: relative !important;
                margin-left: -20px !important;
            }
            .copy{
                width: 700px !important;
            }
            .footer4{
                width: 120% !important;
                height: 200px !important;
               }
               .iframe{
                width: 100% !important;
    margin-top: -20px !important;
               }
    }
        @media (max-width:416px)
        {
            .topnav{
                width: 100px !important;
                position: relative;
                right: 30px !important;
            }
            .bttn{
                 position: relative !important;
                right: -15% !important;
    
            }
            .drepmain{
                width: 10px !important;
    position: relative;
    margin-left: 110px;
        }
        .opt1{
            width: 100px !important;
    
        }
        .inneropt{
            width: 100px !important;
            position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
        .footer1{
            display: flex !important;
            flex-wrap: wrap !important;
                }
                .footer3{
                    width:700px !important;
                    position: relative !important;
                    margin-left: -20px !important;
                }
                .copy{
                    width: 700px !important;
                }
                .footer4{
                    width: 120% !important;
                    height: 200px !important;
                   }
                   .iframe{
                    width: 100% !important;
        margin-top: -20px !important;
                   }
        }
        @media (max-width:356px)
        {
            .topnav{
                width: 100px !important;
                position: relative;
                right: 30px !important;
                margin-left: 180px !important;
            }
            .bttn{
                 position: relative !important;
                right: -10% !important;
    
            }
            .drepmain{
                width: 10px !important;
    position: relative;
    margin-left: 110px;
        }
        .opt1{
            width: 100px !important;
    
        }
        .inneropt{
            width: 100px !important;
            position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
        .footer1{
            display: flex !important;
            flex-wrap: wrap !important;
                }
                .footer3{
                    width:500px !important;
                    position: relative !important;
                    margin-left: -20px !important;
                }
                .copy{
                    width: 500px !important;
                }
                .footer4{
                    width: 120% !important;
                    height: 200px !important;
                   }
                   .iframe{
                    width: 100% !important;
        margin-top: -20px !important;
                   }
        }
        @media (max-width:282px)
        {
            .topnav{
                width: 120px !important;
                position: relative;
                right: 100px !important;
            }
            .bttn{
                 position: relative !important;
                right: -9% !important;
    
            }
            .drepmain{
                width: 10px !important;
    position: relative;
    margin-left: 110px;
        }
        .opt1{
            width: 100px !important;
    
        }
        .inneropt{
            width: 100px !important;
            position: relative;
    left: -170px;
    top: 60px;
    background-color: rgb(171, 205, 197) !important;
    
    color: whitesmoke !important;
        }
        .inneropt:hover{
            background-color: rgb(231, 252, 247) !important;
    
        }
        .footer1{
    display: flex !important;
    flex-wrap: wrap !important;
        }
        .footer3{
            position: relative !important;
            margin-left: -20px !important;
        }
        .footer4{
            width: 120% !important;
            height: 200px !important;
           }
           .iframe{
            width: 100% !important;
margin-top: -20px !important;
           }
        }